<h1>Ember Simple Auth Test</h1>

{{#if session.isAuthenticated}}
  <h2>User Status:</h2>
  <p>
    <span>Signed in as: {{sessionAccount.user.name}} ({{sessionAccount.user.provider}}:{{sessionAccount.user.id}})</span> <button type="button" {{action 'invalidateSession'}}>Logout</button>
  </p>
{{/if}}

{{#if session.isAuthenticated}}
<h2>Navigation</h2>
<ul>
  <li>{{#link-to "index"}}Index{{/link-to}}</li>
  <li>{{#link-to "protected"}}Protected{{/link-to}}</li>
</ul>
{{/if}}

<hr />

{{outlet}}
